# Binära filer
*.exe
*.o
*.obj
*.out

# macOS-systemfiler
.DS_Store
*.dSYM

# Loggfiler
*.log

# VSCode-mapp
.vscode/

# Ignorera Makefile
Makefile
lib/src/Bullet.d
lib/src/Character.d
lib/src/Map.d
lib/src/Text.d
server/main.d
client/src/main.d
